.logo {
  list-style: none;
  text-decoration: none;
  color: #23e5db;
}

.logo:hover {
  color: white;
}
.nav {
  position: sticky;
  top: 0;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  background-color: #002f34;
  z-index: 3;
}
.hidden {
  display: none;
}

.nav-bar {
  font-size: 20px;
  gap: 1rem;
}
.followed-products {
  text-align: center;
  position: relative;
}
.followed-products i {
  color: white;
}
.badge {
  font-size: 11px;
  position: absolute;
  top: 0;
  border-radius: 50%;
}

.variant-link {
  color: white;
  text-decoration: unset;
}
.variant-link:hover {
  color: white;
}
.my-products {
  color: white;
}
.create {
  background-color: white;
  color: #002f34;
  font-weight: bold;
  padding: 6px 20px;
  border: 5px solid white;
}
.create:hover {
  background-color: #002f34;
  color: white;
  border: 5px solid white;
}
