.landscape-card {
  display: flex;
  background-color: #ffffff;
  padding: 8px;
}
.landscape-card:hover {
  cursor: pointer;
}

.img-container {
  width: 200px;
  height: 151px;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 1rem;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.card-header p {
  font-size: 16px;
  line-height: 20px;
  color: #002f34;
  font-weight: 700;
  align-self: flex-end;
  margin: 0;
}
.card-header h6 {
  font-size: 20px;
  line-height: 22px;
  color: #002f34;
  margin: 5px 0;
  font-weight: 400;
  max-width: 70%;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
}
.badges-container {
  display: flex;
  gap: 0.5rem;
}
.badges-container h6 {
  margin-bottom: 2px;
}
.location label {
  margin-left: 0.3rem;
  font-size: 14px;
  line-height: 18px;
  color: rgb(64, 99, 103);
}
.location i {
  margin-left: 0.5rem;
  font-size: 14px;
  line-height: 18px;
  color: rgb(64, 99, 103);
}
