.card-content {
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
}

.card-body {
  display: flex;
  gap: 1rem;
  margin-top: 24px;
}

.card-body i {
  font-size: 37px;
  color: #002f34;
}

.all-user-products {
  text-align: center;
  color: #002f34;
}
.call-user {
  font-weight: bold;
  height: 48px;
  border: 5px solid #002f34;
  background-color: #002f34;
  color: white;
  margin-top: 34px;
}
.call-user:hover {
  background-color: white;
  border: 5px solid #002f34;
  color: #002f34;
}
.all-user-products {
  border-bottom: 2px solid #002f34;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.all-user-products:hover {
  color: #002f34;
}
.title {
  font-size: 14px;
  line-height: 18px;
  color: #002f34;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.user-name {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #002f34;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}
.user-info p {
  font-size: 14px;
  line-height: 18px;
  color: #7f9799;
}

.user-info p > span {
  font-weight: 700;
}
