.add-ad {
  background-color: #f2f4f5;
  padding: 24px;
}

.ad-cat,
.add-image-section,
.description-section,
.contacts,
.add-section,
.price-section {
  margin-top: 24px;
  background-color: #ffffff;
  width: 1200px;
}
.add-ad-title {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  color: rgb(0, 47, 52);
  margin: 40px;
  text-align: center;
}
.imgs-row {
  width: 700px;
}
.description {
  height: 200px;
  width: 700px;
}

.add-section {
  text-align: end;
}
.button-group {
  display: block;
}
.btn-container {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 32px;
}

.add-edit {
  background-color: #002f34;
  border: 5px solid #002f34;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
}
.add-edit:hover {
  border: 5px solid #002f34;
  color: #002f34;
  background-color: white;
}
