.description-section {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 32px;
}
.descr-label {
  margin: 0px;
  padding: 0px 0px 8px;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: rgb(0, 47, 52);
}
.descr-input {
  height: 214px;
}
