.card-content {
  display: flex;
  gap: 0.5rem;
  align-content: flex-start;
  margin-top: 34px;
}
.location-icon {
  font-size: 18px;
  margin-right: 0.7rem;
}
.location-text-content p:first-child {
  font-size: 16px;
  color: #002f34;
  margin: 0px;
  font-weight: 700;
  line-height: 18px;
  word-break: break-word;
}
.location-text-content p:last-child {
  font-size: 14px;
  line-height: 26px;
  color: #002f34;
  margin: 0;
}
.google-map {
  width: 60%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.location-text-content {
  width: 40%;
}
.card-body {
  padding: 24px;
}
.title {
  font-size: 14px;
  line-height: 18px;
  color: #002f34;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
