.add-ad{
background-color: #f2f4f5;
padding: 24px;
}

.ad-cat,.add-image-section{
    background-color:#ffffff;
    width: 1200px;
}
.add-ad-title{
    text-align: center;
}
.imgs-row{
    width: 700px;
}